<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <janis_connection_section>

            <janis_orders_group>
                <janis_account_name></janis_account_name>
                <order_created_status></order_created_status>
                <notify_invoice>0</notify_invoice>
                <order_invoiced_status></order_invoiced_status>
            </janis_orders_group>

            <janis_simulate_group>
                <janis_sales_channel_id></janis_sales_channel_id>
            </janis_simulate_group>

            <janis_credentials_group>
                <api_environment>production</api_environment>
                <janis_client/>
                <janis_api_key/>
                <janis_api_secret/>
            </janis_credentials_group>
        </janis_connection_section>
    </default>
</config>
