<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="janis" translate="label" sortOrder="999">
			<label>Janis Commerce</label>
		</tab>
		<section id="janis_configuration_section" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Configuration</label>
			<tab>janis</tab>
			<resource>JanisCommerce_JanisConnector::config_JanisCommerce_JanisConnector</resource>

            <group id="janis_orders_group" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>Orders</label>

                <field id="janis_account_name" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Janis account name</label>
                </field>

                <!-- Status para pedidos recién creados -->
                <field id="order_created_status" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Created Status</label>
                    <source_model>JanisCommerce\JanisConnector\Model\Config\Source\OrderStatusByState</source_model>
                </field>

                <field id="notify_invoice" type="select" sortOrder="61" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Enable Invoice Notification</label>
                    <comment>Notify Janis when order is invoiced</comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

                <!-- Status para pedidos facturados -->
                <field id="order_invoiced_status" translate="label" type="select" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Invoiced Status</label>
                    <source_model>JanisCommerce\JanisConnector\Model\Config\Source\OrderStatusByState</source_model>
                    <depends>
                        <field id="notify_invoice">1</field>
                    </depends>
                </field>

            </group>

            <group id="janis_simulate_group" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>Simulate</label>

                <field id="janis_sales_channel_id" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Janis endpoint Sales Channel ID</label>
                </field>
            </group>

            <group id="janis_credentials_group" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Credentials</label>

                <field id="api_environment" type="select" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Environment</label>
                    <source_model>JanisCommerce\JanisConnector\Model\Config\Source\Environment</source_model>
                </field>

                <field id="janis_client" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Janis Client</label>
				</field>
				<field id="janis_api_key" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Janis API Key</label>
				</field>
				<field id="janis_api_secret" type="password" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Janis API Secret</label>
				</field>
			</group>
		</section>

        <!-- sección nueva para Logs -->
        <section id="janis_logs_section" sortOrder="20" showInWebsite="0" showInStore="0" showInDefault="1" translate="label">
            <label>Logs</label>
            <tab>janis</tab>
            <resource>JanisCommerce_JanisConnector::config_JanisCommerce_JanisConnector</resource>

            <group id="janis_logs_group" sortOrder="10" showInDefault="1">
                <label>Logs</label>

                <field id="log_viewer" translate="label" sortOrder="10" showInDefault="1" type="text">
                    <comment>Showing latest entries from /var/log/janis_connector.log</comment>
                    <frontend_model>JanisCommerce\JanisConnector\Block\Adminhtml\System\Config\LogViewer</frontend_model>
                </field>
            </group>
        </section>
	</system>
</config>
